Desktop
Downloads
MagPi
.xsession-errors*
.Xauthority
.bash_history
.bash_logout
.cache/
.java/
.jmri/log/
.ssh
.gnupg
.wget-hsts
.gitconfig
.viminfo
.lesshst
.debian-edu
.local
.jmri/**/*.bak
.jmri/nodeIdentity.xml
update
release
release2043.zip
JMRI
JMRI.4.19.2+R846b684.tgz
updateonce
.vim/
