Desktop
Downloads
MagPi
.xsession-errors*
.Xauthority
.bash_history
.bash_logout
.cache/
.java/
.jmri/log/
.ssh
.gnupg
.wget-hsts
.gitconfig
.viminfo
.lesshst
.debian-edu
.local
.jmri/**/*.bak
.jmri/nodeIdentity.xml
JMRI.4.16+R6f9aced.tgz
update
release
release2043.zip
JMRI
